<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.side.pj.teamwork.schedule.ScheduleMapper">
    <select id="selectByCompanyAndMonth" parameterType="map" resultType="com.side.pj.teamwork.schedule.dto.ResSchedule">
        select
            s.id,
            s.title,
            s.content,
            s.start_date as startDate,
            s.end_date as endDate,
            s_s.name as scheduleStatus

            from schedule s
            join company c on s.company_id = c.id
            join schedule_status s_s on s.schedule_status_id = s_s.id
                 where s.start_date>#{month}
        and c.name = #{company};
    </select>

</mapper>